// Divisores ------------------------------------

.divisor {
  line-height: 0;
  overflow: hidden;
  img{
    width: 100%;
    @include tablet{
      width: auto;
    }
  }
  &--mbot {
    margin-top: -3px;
    margin-bottom: 80px;
  }

  &--mtop {
    margin-bottom: -3px;
    margin-top: 80px;
  }

}