@import "materialize/materialize.scss";

// MY COMPONENTS ------------------------------------


@import "components/_navbar.scss";

@import "components/_sidenav.scss";

@import "components/_hero.scss";

@import "components/card";

@import "components/concluir";

@import "components/img-side-card";

@import "components/_collapsible.scss";

@import "components/custom-collections";

@import "components/box-attention";

@import "components/carousel";

@import "components/footer";

@import "components/full-img-legend";

@import "components/questions";

@import "components/loading";

@import "components/game-dialogue";

@import "components/bullets";

// Helpers
@import "components/helpers";

// Geral ------------------------------------

// Font Icons
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 40;
}

// Icones Material Design
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
html {
  scroll-behavior: smooth;
}

u {
  padding-bottom: 1px;
  border-bottom: 3px solid var(--md-sys-color-tertiary);
  text-decoration: none;
}


.btn {
  &-large {
    border-radius: 9px;
    padding-top: 3px;
  }
  border-radius: 9px;
  background-color: $bgColor;
  color: $fontColor;
}

.btn.filled,
.filled.btn-small,
.filled.btn-large {
  color: var(--primary-color);
  background-color: var(--quaternary-color);
}
.btn.filled:hover,
.filled.btn-small:hover,
.filled.btn-large:hover {

  background-color: var(--quaternary-color);
  filter: brightness(0.95);
}

.btn.filled:focus,
.filled.btn-small:focus,
.filled.btn-large:focus {
  background-color: var(--quaternary-color);
  filter: brightness(0.8);
}

#finishButton{
  background-color: $bgColor;
  color: $fontColor;
}

//.btn.filled:hover, .filled.btn-small:hover, .filled.btn-large:hover

.full-rounded {
  border-radius: 23px;
  background-color: var(--md-sys-color-background);
  margin-top: -35px;
  margin-top: -35px;
  position: relative;
  z-index: 3;
}

.top-rounded {
  border-radius: 23px; //$border-radius-lg $border-radius-lg $border-radius-lg $border-radius-lg//
  background-color: var(--md-sys-color-background);
  margin-top: -35px;
  margin-bottom: -35px; // retirar depois
  z-index: 2; // retirar depois
}
// Para o menu não cobrir o elemento
.scrollspy {
  scroll-margin-top: 100px;
}

.scale-transition.scale-out {
  height: 0 !important;
  opacity: 0;
  transition: all 0.2s;
}
.scale-transition.scale-in {
  height: auto !important;
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 16px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  border-radius: 20px;
  background: rgb(226, 225, 222); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--md-sys-color-primary); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(226, 225, 222); /* creates padding around scroll thumb */
}

.material-tooltip {
  background-color: #000000de !important;
  border-radius: 13px;
  padding: 1%;
}

// Tratamento Aula específica
@import "page";



