// ---------------------------------------------------------
// Tratamento Aula específica
// ---------------------------------------------------------

.img-section {
  background-image: url("../img/core/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.full-img {
  background-image: url("../img/core/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
